@model TransformalizeModule.ViewModels.DisplayTransformalizeArrangementFieldViewModel

<div>
   <label>Arrangement</label>
   <div>
      <pre><code>@Model.Arrangement</code></pre>
   </div>
</div>


